[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape.git
[submodule "themes/jacman"]
	path = themes/jacman
	url = https://github.com/tl3shi/jacman.git
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/tl3shi/maupassant-hexo.git
[submodule "themes/next"]
	path = themes/next
    url = git@github.com:tl3shi/hexo-theme-next.git
